/* CSS Document */

/*----- GENERAL -----*/
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

section {
	min-height: 100vh; /* SETS SECTION HEIGTH TO BE MINIMUM 100vh TALL (as tall as the screen) */
}

article {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 70px;
	font-family: fresh marker;
	text-transform: uppercase;
	margin-top: 0.3em;
}

h2 {
	text-align: left;
	color: #333;
	font-weight: 400;
	font-size: 50px;
	margin: 0;
	font-family: fresh marker;
	text-transform: uppercase;
}

/*----- MUSIK_PLAYER PAGE GRID -----*/

.player_con {
	display: grid;
	background-color: #000;
	grid-template-columns: 1em 10vh auto 10vh 1em;
	grid-template-rows: 10vh auto 10vh;
	grid-gap: 2em;
	background-image: url(../img/plambeach_rgbsplit2.0.gif);
	background-size: cover;
}


#logo {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: 1em;
}

#mediaplayer {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	justify-self: center;
}

#arrowDN {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: 0 auto;
}


/*----- ABOUT PAGE GRID -----*/

.about_con {
	display: grid;
	background-image: url(../img/sky.jpg);
	background-size: cover;
	grid-template-columns: 2em 25vh 25vh 50vh 2em;
  	grid-template-rows: 2em auto 2em;
}

#page {
	padding: 1em;
	font-family: oswald;
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	background-color: #f9f9f9;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	box-shadow: 10px 10px 22px -11px rgba(0,0,0,0.75);
}

#page img {
	width: 300px;
	height: auto;
	float: right;
}


/*----- MERCH_STORE PAGE GRID -----*/

.merchstore_con {
	background-color: #333;
	background-image: url(../img/vhs.gif);
	background-size: contain;
	padding: 2em;
}


#merch {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5em;
}

#merch img {
	margin: 2em;
	transition: all 1s;
}

#merch img:hover {
	transform: scale(1.1);
}


/*----- SOCIAL MEDIA POSITION -----*/

#flwbtn {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: -6em;
	margin-bottom: 2em;
}

#flwbtn2 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 5em;
	margin-bottom: 1em;
}

#flwbtn3 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}

#flwbtn4 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 9em;
	margin-bottom: 1em;
}


/*----- VIDEO PLAYER -----*/
video {
	height: 70vh;
	width: auto;
	margin: 0 auto;
}

/*----- JQUERY -----*/

#panel, #flip {
	padding: 5px;
	text-align: center;
	background-color: #e5eecc;
	border: solid 1px #c3c3c3;
}

#panel {
	padding: 50px;
	display: none;
}