/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Audiowide|Black+Ops+One|Libre+Barcode+39+Text|Gochi+Hand|Permanent+Marker');


/* GENERAL */
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	/*scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);*/
}

section {
	min-height: 100vh;
}

article {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 70px;
	margin: 0;
	font-family: 'permanent marker';
	text-transform: uppercase;
}

h2 {
	text-align: left;
	color: #333;
	font-weight: 400;
	font-size: 50px;
	margin: 0;
	font-family: 'permanent marker';
	text-transform: uppercase;
}

/* 1ST PAGE GRID */

.container {
	display: grid;
	background-color: #000;
	grid-template-columns: 1em 10vh auto 10vh 1em;
	grid-template-rows: 10vh auto 10vh;
	/*justify-content: center;*/
	grid-gap: 2em;
	background-image: url(../img/vhs.gif);
	background-repeat: repeat;
}


#title {
	/*border: 1px solid red;*/
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#mediaplayer {
	/*border: 1px solid red;*/
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	justify-self: center;
}

#logo {
	/*border: 1px solid red;*/
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#arrowDN {
	/*border: 1px solid red;*/
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: 0 auto;
}


/* 2ND PAGE GRID */

.container2 {
	display: grid;
	height: 110vh;
	background-image: url(../img/tokolige1.jpg);
	grid-template-columns: 2em 25vh 25vh 50vh 2em;
  	grid-template-rows: 5em auto 5em;
}

#page {
	padding: 1em;
	font-family: allerta stencil;
	font-size: 20px;
	background-color: #f9f9f9;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#page img {
	width: 300px;
	height: auto;
	float: right;
	box-shadow: 10px 10px 22px -11px rgba(0,0,0,0.75);
}


/* 3RD PAGE GRID */
.merchstore {
	background-color: #333;
	padding: 2em;
}


#merch {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

#merch img {
	margin: 1em;
	transition: all 1s;
}

#merch img:hover {
	transform: scale(1.1);
}


/* SOCIALS */
#flwbtn {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: -6em;
	margin-bottom: 2em;
}

#flwbtn2 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 5em;
	margin-bottom: 1em;
}

#flwbtn3 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}

#flwbtn4 {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 9em;
	margin-bottom: 1em;
}


/*----- VIDEO PLAYER -----*/
video {
	height: 70vh;
	width: auto;
	margin: 0 auto;
}

#myVideo {
	margin: 0 auto;
}

.progressBar{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #000;
}

.timeBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

.bufferBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

