/* CSS Document */

body {
	margin: 0 auto;
	padding: 0;
	background-image: url(../img/planewing.png);
}

/*--------------NAVIGATIONBAR--------------*/

nav {
	width: 100%;
	background-color: #333;
	overflow: auto;
	text-transform: uppercase;
}

li {
	float: right;
}

.logo img {
	position: absolute;
	margin-top: 10px;
	margin-left: 0;
	width: auto;
	height: 50px;
}

nav a {
	width: auto;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: 'arial';
	color: #f2f2f2;
	text-align: center;
	
}

nav a:hover {
	transition: 0.2s;
	text-transform: 0.2s;
}

ul {
	list-style: none;
	font-family: 'comfortaa';
	color: black;
	font-size:1.3em;
	text-align: left;
	padding: 0;
	margin: 0;
	height: 10vh;
}

ul iframe {
	margin: 0.3em 0.3em 0 0.3em;
}
/*----- WHATEVER -----*/

main {
	margin: 0 auto;
}

main section {
	height: 90vh;
}

main section article {
	padding: 6em;
}

.shadow {
	box-shadow: 3px 3px 5px 5px rgba(0,0,0, 0.25);
}

.heartbeat {
	-webkit-animation: heartbeat 5s ease-in-out infinite both;
	        animation: heartbeat 5s ease-in-out infinite both;
}


#flwbtn {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: -6em;
	margin-bottom: 2em;
}
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.slide-fwd-center:hover {
	-webkit-animation: slide-fwd-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-1-28 16:45:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 70px;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
}

h2 {
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 50px;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
}

video {
	height: auto;
	width: 1000px;
}

#yeet {
	margin: 0 auto;
}

#myVideo {
	height: auto;
	width: 70vh;
}

.progressBar{
    position: relative;
    width: 100%;
    height: 10px;
    backgroud-color: #000;
}

.timeBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

.bufferBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}